@font-face {
  font-family: "iconfont"; /* Project id 4897792 */
  src: url('iconfont.woff2?t=1760258869722') format('woff2'),
       url('iconfont.woff?t=1760258869722') format('woff'),
       url('iconfont.ttf?t=1760258869722') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qun:before {
  content: "\e892";
}

.icon-shipin:before {
  content: "\e677";
}

.icon-qunliao:before {
  content: "\e6d1";
}

.icon-zhuyi:before {
  content: "\e649";
}

.icon-yinxingqia:before {
  content: "\e648";
}

.icon-xiazai:before {
  content: "\e647";
}

.icon-kefu:before {
  content: "\e658";
}

.icon-xiaofeiji:before {
  content: "\e75b";
}

.icon-check:before {
  content: "\e63b";
}

.icon-clock:before {
  content: "\e63c";
}

.icon-chevron-down:before {
  content: "\e63d";
}

.icon-calendar-alt:before {
  content: "\e63e";
}

.icon-caret-down:before {
  content: "\e63f";
}

.icon-check-circle:before {
  content: "\e640";
}

.icon-bolt:before {
  content: "\e641";
}

.icon-bars:before {
  content: "\e642";
}

.icon-arrow-up:before {
  content: "\e643";
}

.icon-alipay1:before {
  content: "\e644";
}

.icon-wechat1:before {
  content: "\e645";
}

.icon-caret-down-copy:before {
  content: "\e646";
}

.icon-search:before {
  content: "\e627";
}

.icon-globe-asia:before {
  content: "\e628";
}

.icon-copy:before {
  content: "\e629";
}

.icon-mail-bulk:before {
  content: "\e62a";
}

.icon-shopping-cart:before {
  content: "\e62b";
}

.icon-history:before {
  content: "\e62c";
}

.icon-headset:before {
  content: "\e62d";
}

.icon-crown:before {
  content: "\e62e";
}

.icon-info-circle:before {
  content: "\e62f";
}

.icon-lock:before {
  content: "\e630";
}

.icon-eye:before {
  content: "\e631";
}

.icon-home:before {
  content: "\e632";
}

.icon-exclamation-triangle:before {
  content: "\e633";
}

.icon-envelope:before {
  content: "\e634";
}

.icon-chevron-right:before {
  content: "\e635";
}

.icon-clipboard:before {
  content: "\e636";
}

.icon-arrow-left:before {
  content: "\e610";
}

.icon-download:before {
  content: "\e637";
}

.icon-chevron-left:before {
  content: "\e638";
}

.icon-edit:before {
  content: "\e639";
}

.icon-at:before {
  content: "\e63a";
}

.icon-chevron-up:before {
  content: "\e615";
}

.icon-spinner:before {
  content: "\e616";
}

.icon-sign-in-alt:before {
  content: "\e617";
}

.icon-user:before {
  content: "\e618";
}

.icon-trash:before {
  content: "\e619";
}

.icon-wallet:before {
  content: "\e61a";
}

.icon-key:before {
  content: "\e61b";
}

.icon-thumbs-up:before {
  content: "\e61c";
}

.icon-shield-alt:before {
  content: "\e61d";
}

.icon-file-invoice-dollar:before {
  content: "\e611";
}

.icon-money-bill-wave:before {
  content: "\e61e";
}

.icon-sync:before {
  content: "\e61f";
}

.icon-undo:before {
  content: "\e620";
}

.icon-star:before {
  content: "\e621";
}

.icon-times:before {
  content: "\e622";
}

.icon-file-download:before {
  content: "\e612";
}

.icon-globe-europe:before {
  content: "\e623";
}

.icon-comments:before {
  content: "\e624";
}

.icon-tag:before {
  content: "\e625";
}

.icon-globe:before {
  content: "\e626";
}

.icon-percent:before {
  content: "\e613";
}

.icon-shopping-bag:before {
  content: "\e614";
}

.icon-wechat:before {
  content: "\e60e";
}

.icon-alipay:before {
  content: "\e60f";
}

